@import '../../scss/variables';

.dt-filter {
  padding: 0 0.5em;
  &-l {
    padding: 0 0.5em 0 0;
  }
  &-border {
    border-right: 2px solid $primary;
  }
}

.error-message {
  font-size: 1em;
  margin: 0;
  padding: 0.25em 0;
}

.icon-warn {
  height: 1.2em;
  width: 1.2em;
  fill: $danger;
}

.notification-filter {
  padding-left: 0px !important;
}

.icon-more {
  margin: 0.25em 1em;
  height: 1em;
  width: 1em;
  fill: currentColor;
}
