<h2 class="mt-4">Orders</h2>
<div id="orderStatusKey">
  <button id="toggleStatusKeyButton" class="btn" type="button" (click)="showDropdown = !showDropdown">
    <span [class.down]="!showDropdown" class="arrow"></span>
    TEST STATUS KEY
  </button>
  <ul class="list-group d-flex" *ngIf="showDropdown">
    <li class="list-group-item">
      <svg class="icon primary"><use xlink:href="#circle-fill"></use></svg>
      Test Complete
    </li>
    <li class="list-group-item">
      <svg class="icon primary"><use xlink:href="#circle"></use></svg>
      Test In Progress
    </li>
    <li class="list-group-item">
      <svg class="icon revised"><use xlink:href="#arrow-clockwise"></use></svg>
      Revised Test
    </li>
    <li class="list-group-item">
      <svg class="icon canceled"><use xlink:href="#slash-circle"></use></svg>
      Canceled Test
    </li>
  </ul>
</div>

<form id="orderSearchForm" focusFirstInvalidInput>
  <div class="form-group flex-column">
    <label id="orderSearchHeaderDates" class="font-weight-bold">Ordered Date</label>
    <mcl-date-search #dt [fromDt]="this.last90" (dateChangedFn)="updateOrderedDateFilter()"></mcl-date-search>
  </div>
</form>

<kendo-grid
  [data]="gridItems | async"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  (pageChange)="pageChange($event)"
  [sortable]="true"
  [sort]="sortDescriptor"
  (sortChange)="handleSortChange($event)"
  [height]="645"
  [filterable]="true"
  [resizable]="true"
  [reorderable]="true"
  [columnMenu]="{ filter: false }"
>
  <kendo-grid-column field="orderID" title="ID" [width]="50" [filterable]="false"> </kendo-grid-column>
  <kendo-grid-column field="patient" title="Patient Information">
    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
      <kendo-grid-string-filter-cell [column]="column" [showOperators]="false"> </kendo-grid-string-filter-cell>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <div>
        <div class="font-weight-bold">{{ dataItem.patient.name }}</div>
        <div>{{ dataItem.patient.id }}</div>
        <div>{{ dataItem.patient.dob }}</div>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="375" [resizable]="true" [filterable]="true" title="Tests Ordered" field="tests">
    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
      <kendo-grid-string-filter-cell [column]="column" [showOperators]="false"> </kendo-grid-string-filter-cell>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <div *ngFor="let test of dataItem.tests; let i = index" class="d-flex">
        <div class="icon-container mr-2">
          <svg class="icon canceled" *ngIf="test.cancelled">
            <title>Canceled Test</title>
            <use xlink:href="#circle-slash"></use>
          </svg>
          <svg class="icon revised" *ngIf="test.revised && !test.cancelled">
            <title>Revised Test</title>
            <use xlink:href="#arrow-clockwise"></use>
          </svg>
          <svg class="icon primary" *ngIf="!test.cancelled && !test.revised && test.status?.toUpperCase() === 'FINAL'">
            <title>Test Complete</title>
            <use xlink:href="#circle-fill"></use>
          </svg>
          <svg class="icon primary" *ngIf="!test.cancelled && !test.revised && test.status?.toUpperCase() !== 'FINAL'">
            <title>Test In Progress</title>
            <use xlink:href="#circle"></use>
          </svg>
        </div>
        <span class="font-weight-bold test-id" id="testid-{{ rowIndex }}-{{ i }}">{{ test.mayoTestID }}</span>
        <span class="test-name" id="test-name-{{ rowIndex }}-{{ i }}">{{ test.publishedName }}</span>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="status.name" title="status">
    <ng-template kendoGridFilterCellTemplate let-filter>
      <app-multiselect-filter
        [data]="dropDownItems"
        [placeholder]="placeholder"
        textField="text"
        valueField="value"
        (valueChangeEvent)="handleValueChange($event)"
      >
      </app-multiselect-filter>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [width]="225"
    [resizable]="true"
    [filterable]="true"
    id="order-info-col"
    title="Order Information"
    field="order"
  >
    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
      <kendo-grid-string-filter-cell [column]="column" [showOperators]="false"> </kendo-grid-string-filter-cell>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <div>
        <div class="font-weight-bold">{{ dataItem.clientOrderNumber }}</div>
        <div>{{ dataItem.accountNumber }}</div>
        <div>{{ dataItem.accessionNumber }}</div>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="orderedDate" title="Ordered Date" [filterable]="false"> </kendo-grid-column>

  <!-- Hidden Columns ----------------------------------------------->
  <!-- Collected Date -->
  <kendo-grid-column [hidden]="true" field="collectedOn" title="Collected Date" [filterable]="true">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span>
        {{ dataItem.collectedOn }}
      </span>
    </ng-template>
  </kendo-grid-column>
  <!-- Soft Order Number(s) -->
  <kendo-grid-column
    [hidden]="true"
    [width]="150"
    [minResizableWidth]="100"
    [filterable]="true"
    id="soft-order-number-col"
    field="softOrderNumber"
    title="Soft Order Number(s)"
  >
    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
      <kendo-grid-string-filter-cell [column]="column" [showOperators]="false"> </kendo-grid-string-filter-cell>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span>
        {{ dataItem.softOrderNumber }}
      </span>
    </ng-template>
  </kendo-grid-column>

  <!-- Specimen Delievered -->
  <kendo-grid-column
    [hidden]="true"
    field="tests.receiptOn"
    title="Specimen Delivered"
    [filterable]="true"
    [width]="255"
  >
    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
      <kendo-datepicker
        id="testReceiptDateFilter"
        [max]="getCurrentDate()"
        placeholder=""
        (valueChange)="onDateFilterChange($event, column.field)"
        [navigation]="false"
      ></kendo-datepicker>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span>
        <ul class="list-unstyled pb-0 mb-0">
          <li *ngFor="let test of dataItem.tests">
            <ng-container *ngIf="test.receiptOn">
              <span>{{ test.mayoTestID }} : {{ test.receiptOn }}</span>
            </ng-container>
          </li>
        </ul>
      </span>
    </ng-template>
  </kendo-grid-column>
  <!-- Received in Lab -->
  <kendo-grid-column
    [hidden]="true"
    field="tests.receivedOnUtc"
    title="Received In Lab"
    [width]="255"
    [filterable]="true"
  >
    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
      <kendo-datepicker
        id="testReceivedDateFilter"
        [max]="getCurrentDate()"
        placeholder=""
        (valueChange)="onDateFilterChange($event, column.field)"
        [navigation]="false"
      ></kendo-datepicker>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span>
        <ul class="list-unstyled pb-0 mb-0">
          <li *ngFor="let test of dataItem.tests">
            <ng-container *ngIf="test.receivedOn">
              <span class="test-id">{{ test.mayoTestID }} : {{ test.receivedOn }}</span>
            </ng-container>
          </li>
        </ul>
      </span>
    </ng-template>
  </kendo-grid-column>

  <!-- Canceled Date -->
  <kendo-grid-column [hidden]="true" field="tests.canceledOn" title="Canceled Date" [width]="255" [filterable]="true">
    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
      <kendo-datepicker
        id="testCanceledDateFilter"
        [max]="getCurrentDate()"
        placeholder=""
        (valueChange)="onDateFilterChange($event, column.field)"
        [navigation]="false"
      ></kendo-datepicker>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <span>
        <ul class="list-unstyled pb-0 mb-0">
          <li *ngFor="let test of dataItem.tests">
            <ng-container *ngIf="test.cancelled">
              <span>{{ test.mayoTestID }}</span
              >: {{ test.canceledOn || '' }}
            </ng-container>
          </li>
        </ul>
      </span>
    </ng-template>
  </kendo-grid-column>
  <!-- END Hidden Columns ----------------------------------------->
</kendo-grid>
